@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
.has-mask {
    position: absolute;
    clip: rect(10px, 150px, 130px, 10px);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.font-family-karla {
    font-family: karla;
}

.bg-sidebar {
    background: #3d68ff;
}

.cta-btn {
    color: #3d68ff;
}

.upgrade-btn {
    background: #1947ee;
}

.upgrade-btn:hover {
    background: #0038fd;
}

.active-nav-link {
    background: #1947ee;
}

.nav-item:hover {
    background: #1947ee;
}

.account-link:hover {
    background: #3d68ff;
}
::-webkit-scrollbar {
    width: 2px;
  }
